<script>
  facebookId = <%= current_user.user_id %>
</script>
<p>
  <label>Search for friends:</label>
  <input type="text" id='friends' />
  <input type="hidden" id='hiddenId' />
  <label>or between friends</label>
  <input type="text" id='other_friends' />
</p>
<div id="loading" class='loading' style="display:none"><img src="/images/loading.gif"/>Loading your stream data</div>
<div id="loading_friends" class='loading' style="display:none"><img src="/images/loading.gif"/>Loading friends stream data</div>
<ul id='history'></ul>
