<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/jquery-autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/javascript/class.js" type="text/javascript"></script>
    <script src="/javascript/index.js" type="text/javascript"></script>
    <link rel='stylesheet' href="/style/global.css" type="text/css"/>
  </head>
  <body>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
    <%= yield %>
    <script type="text/javascript">  FB.init("2d03e24700c5ab29202a66e016960406", "/xd_receiver.htm"); </script>
  </body>
</html>
